@font-face {
  font-family: 'Ubuntu'; 
  src: url('Ubuntu.ttf');
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  background-color: #444654;
  color: #ffffff;
}

.left-column {
  width: 32%;
  float: left;
  background-color: #191B28; 
  color: #FFFFFF; 
  border-radius: 10px;  

}

.right-column {
  width: 33%;
  float: right;
  background-color: #191B28; 
  border-radius: 10px;
  margin-left: 10px;
}

.Abbr_1 {
  color: #6f00ff;
  float: left;
  margin-left: 25px;
  margin-top: 200px;
  position: relative;
  z-index: 9999;
  text-decoration: none;
}

.Abbr_2 {
  color: #6f00ff;
  float: left;
  margin-left: 25px;
  margin-top: 160px;
  position: relative;
  z-index: 9999;
  text-decoration: none;
}

.gradient-line {
  position: relative;
  height: 1px;
  background: linear-gradient(to right, rgb(252, 250, 250), rgb(204, 0, 255));
  margin: 10px 10px 10px 10px;
}

.song-icon {
  margin-right: 5px;
  margin-left: 23px;
  margin-bottom: -5px;
  width: 20px;
}

.time-icon {
  width: 25px;
  margin-left: 20px;
  margin-right: 3px;
}

.songs-time {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.time-container {
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.artist-icon {
  margin-right: 7px;
  margin-left: 25px;
  margin-bottom: -5px;
  width: 15px;
}

.user-icon {
  margin-right: 7px;
  margin-left: 25px;
  margin-bottom: -4px;
  width: 17px;
}

a {
  color: #d0a5f3; /* Cambia el color de los hipervínculos a rojo (#ff0000) */
  text-decoration: none; /* Elimina la subrayado por defecto de los hipervínculos */
}

a:hover {
  color: #00b7ff; /* Cambia el color de los hipervínculos cuando se les pasa el mouse a verde (#00ff00) */
}

.margin-left {
  margin-top: 13px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.graph {
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}

.wordcloud {
  margin: 25px auto 10px; /* Margen superior e inferior de 25px, centrado horizontalmente */
  width: 90%;
  text-align: center; /* Centrar verticalmente el contenido */
}

.wordcloud-title {
  text-align: center;
  margin: 30px auto 10px;
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 17px;
}

.tab-style-sp {
  background-image: url('/assets/sp.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  margin-right: 3px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.tab-style-xt {
  background-image: url('/assets/x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 30px;
  margin-right: 3px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.tab-style-nfo {
  background-image: url('/assets/info.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 30px;
  margin-right: 3px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.icon-container {
  mix-blend-mode: multiply; 
}

::-webkit-scrollbar{
  opacity:0;
  background: transparent;
}

.info-tab {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: right;
  font-size: medium;
  margin-left: 60px;
  margin-right: 80px;
}

@media (max-width: 1080px) {
  /* Estilos para pantallas pequeñas */

  .left-column {
    order: 1; /* Cambiamos el orden para que vaya encima de .right-column */
    float: right;
    flex-grow: 0; /* Permite que la columna se expanda verticalmente */
    padding-bottom: 10px;
    width: 98%;
    font-size: 12px;
    margin: 15px auto; /* Márgenes superior e inferior para separar las columnas */
  }

  .right-column {
    order: 2; /* Cambiamos el orden para que vaya debajo de .left-column */
    flex-grow: 1; /* Permite que la columna se expanda verticalmente */
    width: 97%;
    margin: 15px auto; /* Márgenes superior e inferior para separar las columnas */
  }

  .wordcloud {
    margin-left: 20px;
  }

  .Abbr_1 {
    display: none;
  }

  .Abbr_2 {
    display: none;
  }
 
  body {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    background-color: #444654;
    color: #ffffff;
    margin-left: 5px;
  }

  .margin-left {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 1px;
  }

  .song-item {
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: -8px;
    width: 25px;
  }

  Ul {
    margin-left: -8px; /* Ajusta el margen izquierdo de la lista */

  }
  .info-tab {
    margin-left: 10px;
    margin-right: 10px;
  }
  
}