.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 113.5%;
}

.left-column {
  width: 30%;
  float: left;
  background-color: #191B28; 
  color: #FFFFFF; 
  border-radius: 10px;
}

.right-column {
  width: 34%;
  float: right;  
  background-color: #191B28; 
  border-radius: 10px;
}


.Abbr_1 {
  color: #6f00ff;
  float: left;
  margin-left: 25px;
  margin-top: 200px;
  position: relative;
  z-index: 9999;
  text-decoration: none;
}

.Abbr_2 {
  color: #6f00ff;
  float: left;
  margin-left: 25px;
  margin-top: 160px;
  position: relative;
  z-index: 9999;
  text-decoration: none;
}

.gradient-line {
  position: relative;
  height: 1px;
  background: linear-gradient(to right, rgb(252, 250, 250), rgb(204, 0, 255));
  margin: 10px 10px 10px 10px;
}

@font-face {
  font-family: 'Ubuntu'; 
  src: url('Ubuntu.ttf');
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  background-color: #444654;
  color: #ffffff;
  margin-left: 10px;
}

.song-icon {
  margin-right: 5px;
  margin-left: 23px;
  margin-bottom: -5px;
  width: 20px;
}


.time-icon {
  width: 25px;
  margin-left: 20px;
  margin-right: 3px;
}

.songs-time {
  margin-right: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.time-container {
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.artist-icon {
  margin-right: 7px;
  margin-left: 25px;
  margin-bottom: -5px;
  width: 15px;
}

a {
  color: #d0a5f3; /* Cambia el color de los hipervínculos a rojo (#ff0000) */
  text-decoration: none; /* Elimina la subrayado por defecto de los hipervínculos */
}

a:hover {
  color: #00b7ff; /* Cambia el color de los hipervínculos cuando se les pasa el mouse a verde (#00ff00) */
}

.margin-left {
  margin-top: 13px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.graph {
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}

.tab {
  margin-left: 5px;
  margin-right: 5px;
  width: 5000px;
}

.tab-style-sp {
  background-image: url('/assets/sp.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  margin: 0 auto; 
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.tab-style-yt {
  background-image: url('/assets/yt.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  margin: 0 auto;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

@media (max-width: 1080px) {
  /* Estilos para pantallas pequeñas */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente las columnas */
    width: 100%;

  }

  .right-column {
    order: 2; /* Cambiamos el orden para que vaya debajo de .left-column */
    flex-grow: 1; /* Permite que la columna se expanda verticalmente */
    width: 97%;
    margin: 15px auto; /* Márgenes superior e inferior para separar las columnas */
  }

  .Abbr_1 {
    display: none;
  }

  .Abbr_2 {
    display: none;
  }

  .left-column {
    order: 1; /* Cambiamos el orden para que vaya encima de .right-column */
    flex-grow: 0; /* Permite que la columna se expanda verticalmente */
    padding-bottom: 10px;
    width: 98%;
    font-size: 12px;
    margin-left: 0px auto;
    margin: 15px auto; /* Márgenes superior e inferior para separar las columnas */
  }
  
  body {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    background-color: #444654;
    color: #ffffff;
    margin-left: 5px;
  }

  .margin-left {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 1px;
  }

  .song-item {
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: -8px;
    width: 25px;
  }

  Ul {
    margin-left: -8px; /* Ajusta el margen izquierdo de la lista */

  }
  
}